<%= simple_form_for @url do |f| %>
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col m8 offset-m2 center-align">
          <span class="card-title">Create a new short URL</span>
        </div>
      </div>
      <div class="row">
        <div class="col m6 offset-m2">
          <%= f.input :original_url,
                      label: false,
                      placeholder: 'Your original URL here',
                      input_html: { class: 'validate form-control' } %>
        </div>
        <div class="col m2">
          <button type="submit" class="waves-effect waves-light btn">Shorten URL</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
